<div class="container fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
                <h1>User Registration</h1>
            </div>
        </div>
    
        <div class="row" *ngIf="!isSubmitted">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
                <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <div>
                            <label for="email">Email Address</label>
                        </div>
                        
                        <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="model.email" placeholder="you@domain.com" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
                        <div *ngIf="email.errors && (email.touched || isSubmitted)">
                            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
                                Email is required.
                            </div>
                            <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
                                <span class="help-block alert">
                                Email is invalid.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="password">Password</label>
                        </div>
                        <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="model.password" placeholder="required" class="form-control" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required/>         
                        <div *ngIf="password.errors && (password.touched || isSubmitted)">
                                <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
                                    Password is required.
                                </div>
                                <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Password must include special characters (!@#$%^&*). Alphanumeric and both uppercase & lowercase.
                                    </span>
                                </div>
                            </div> 
                    </div>
                    
                    <div class="form-group">
                        <div>
                            <label for="name">Name</label>
                        </div>
                        <input id="name" #name="ngModel" name="name" type="text" [(ngModel)]="model.name" placeholder="Full Name" class="form-control" required/>
                        <div *ngIf="name.errors && (name.touched || isSubmitted)">
                                <div [hidden]="!name.errors.required && name.dirty" class="help-block alert alert-danger">
                                    Full Name is required.
                                </div>
                        </div> 
                    </div>

                    
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <br/>
                        <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}"/> Male
                        <br/>
                        <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" /> Female
                    </div>
                    
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input id="dob" name="dob" type="date" #dateOfBirth="ngModel" class="form-control" [(ngModel)]="model.dateOfBirth"  value="{{ model.dateOfBirth}}" max="2000-02-01" min="1900-02-01" required/>
                        <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)">
                                <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="help-block alert alert-danger">
                                    Registrant must be at least 18 years old
                                </div>
                                
                        </div>  
                    </div>
                    
                    <div class="form-group">
                            <label for="address">Address</label>
                            <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control" [(ngModel)]="model.address" required>
                            </textarea>
                            <div *ngIf="address.errors && (address.touched || isSubmitted)">
                                    <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
                                        Address is required.
                                    </div>
                            </div>  
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="country">Country</label>
                        </div>
                        <input id="country" #country="ngModel" name="country" type="text" [(ngModel)]="model.country" placeholder="Country of Citizenship" class="form-control" required/>
                        <div *ngIf="country.errors && (country.touched || isSubmitted)">
                                <div [hidden]="!country.errors.required && country.dirty" class="help-block alert alert-danger">
                                    Country of Citizenship is required.
                                </div>
                        </div> 
                    </div>

                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <input id="contactNumber"  #contactNumber="ngModel" name="contactNumber" type="text" class="form-control"  [(ngModel)]="model.contactNumber" minlength="8" maxlength="8" pattern="[0-9]*" required/>
                        <div *ngIf="contactNumber.errors && (contactNumber.touched || isSubmitted)">
                                <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-danger">
                                    Contact Number is required.
                                </div>
                                <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. is invalid
                                    </span>
                                </div>
                                <div [hidden]="!contactNumber.errors.minlength" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. must be at least 8 digit long.
                                    </span>
                                </div>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <label for="age">Age</label>
                        <input id="age"  #age="ngModel" name="age" type="text" class="form-control"  [(ngModel)]="model.age" step="18" required/>
                        <div *ngIf="age.errors && (age.touched || isSubmitted)">
                                <div [hidden]="!age.errors.required && age.dirty" class="help-block alert alert-danger">
                                    Age is required.
                                </div>
                                <div [hidden]="!age.errors.step" class="help-block alert alert-danger">
                                    <span class="help-block alert">Must be above 18
                                    </span>
                                </div>
                                
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <hr/>
                        <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-danger" (click)="regForm.reset()">Reset</button>
                    </div>
                </form>
                
               
                <app-list-users [users] = "users"></app-list-users>
    
            </div>
        </div>
        
        <div class="row" *ngIf="isSubmitted">
            <div class="col-6" [ngStyle]="{'background-color':'grey'}">
                    <div class="form-group">
                            <label >{{model.email}}</label> 
                    </div>
                    <div class="form-group">
                            <label >{{model.name}}</label> 
                    </div>
                    <div class="form-group">
                            <label >{{model.gender}}</label> 
                    </div>
                    <div class="form-group">
                            <label >{{model.dateOfBirth}}</label> 
                    </div>
                    <div class="form-group">
                        <label >{{model.address}}</label> 
                    </div>
                    <div class="form-group">
                            <label >{{model.country}}</label> 
                    </div>
                    <div class="form-group">
                            <label >{{model.contactNumber}}</label> 
                    </div>
                    <div class="form-group">
                        <label >{{model.age}}</label> 
                </div>
            </div>
        </div>
        
    </div>