<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
        <h1>Submission Confirmation</h1>
    </div>
</div> 
<hr/>

<div *ngFor="let user of users" >

    <div>
        {{user.name}} Thank you for your submission!
    </div>

<!--<div>
    First Name {{user.firstName}}
</div>
<div>
    Last Name >>> :  {{user.lastName}}
</div>-->
<br>
</div>